@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

body{
  margin: 0;
  padding: 0;
  font-family: "Quicksand";
}
.navbar{
  padding: 20px;
  display: flex;

  align-items:center;
  max-width: 720px;
  margin: auto;
  border-bottom: 2px solid #f2f2f2 ;
}
.navbar h1{
  color: rgb(240, 110, 153);
  font-weight: Bolder;
  font-size: 2em;
}
.navbar .links{
  margin-left: auto;
}
.navbar a{
  color: rgb(149, 149, 149);
  font-size: large;
  font-weight: bold;
  padding: 10px;
  margin-left: 20px;
  text-decoration: none;
}
.navbar a:hover{
  color: rgb(0, 0, 0);              
}
.Contents{
  margin: 50px auto;
  padding: 20px;
  max-width: 720px;
}

.list-p{
  display: flex;
  align-items: center;
}
.add{
 margin-left: auto;
}
.add button{
  margin: 10px;
  cursor: pointer;
  height:50px;
  width: 50px;
  border-radius: 50%;
  border-width: 0px;
  margin-left: auto;
  background-color: rgb(240, 110, 153);
  
}
.icons{
  height: 1.5em;
}
.add button:hover{
  margin: 10px;
  cursor: pointer;
  height:50px;
  width: 50px;
  border-radius: 50%;
  border-width: 0px;
  margin-left: auto;
  background-color: rgb(0, 0, 0);  
  color:rgb(240, 110, 153); 
}


